In [4]:
import pandas as pd

In [5]:
sub_path = r'C:\Users\ALi\OneDrive - MMC\Desktop\MMCR\Data Providers\REIS\REIS 2024\4Q 2024\marcus_milli_stfapt_2024q4 (filtered).xlsx'
sub_df = pd.read_excel(sub_path, sheet_name='Sheet1')

In [6]:
sub_df1 = sub_df[sub_df['Year'].between(1990, 2024)]

In [25]:
lta_vac = sub_df1.groupby(by=['Metro', 'Subname'], group_keys=True)['VacPercent'].mean().reset_index()
lta_vac['VacPercent'] = round(lta_vac['VacPercent']/100, 4)

lta_vac

           Metro             Subname  VacPercent
0    Albuquerque  Downtown/Southwest      0.0438
1    Albuquerque       North Central      0.0355
2    Albuquerque           Northeast      0.0304
3    Albuquerque           Northwest      0.0408
4    Albuquerque           Southeast      0.0504
..           ...                 ...         ...
841      Wichita       McConnell AFB      0.0449
842      Wichita       North Wichita      0.0474
843      Wichita       South Wichita      0.0532
844      Wichita       WSU/Northeast      0.0506
845      Wichita        West Wichita      0.0472

[846 rows x 3 columns]