In [81]:
import pandas as pd

In [82]:
sub_path = r'C:\Users\ALi\OneDrive - MMC\Desktop\MMCR\Data Providers\REIS\REIS 2024\4Q 2024\marcus_milli_stfapt_2024q4 (filtered).xlsx'
sub_df = pd.read_excel(sub_path, sheet_name='Sheet1')
sub_df.columns

Index(['MetroCode', 'Metro', 'Subid', 'Subname', 'Sector', 'Subsector', 'Year',
       'Quarter', 'Inventory', 'Completions', 'Conversions', 'VacPercent',
       'VacantStock', 'OccupiedStock', 'NetAbsorption', 'MarketRentDollars',
       'MarketRentPCTChange', 'EffRentDollars', 'EffRentPChange',
       'ConstrAbsorp', 'AbsorpOccStkP', 'GrRevUnit', 'Actual', 'Tier', 'Exp30',
       'Unnamed: 25'],
      dtype='object')

In [83]:
sub_df1 = sub_df[(sub_df['Year'].between(1990, 2024)) & (sub_df['Quarter'] == 5)]
sub_df1

,MetroCode,Metro,Subid,Subname,Sector,Subsector,Year,Quarter,Inventory,Completions,...,MarketRentPCTChange,EffRentDollars,EffRentPChange,ConstrAbsorp,AbsorpOccStkP,GrRevUnit,Actual,Tier,Exp30,Unnamed: 25
0,AQ,Albuquerque,1,Downtown/Southwest,Apt,ABC,2000,5,3031,0,...,0.0,517,1.2,0.0,4.1,496,A,1,Y,NaN
1,AQ,Albuquerque,1,Downtown/Southwest,Apt,ABC,2001,5,3377,346,...,0.4,521,0.8,1.2,9.4,493,A,1,Y,NaN
2,AQ,Albuquerque,1,Downtown/Southwest,Apt,ABC,2002,5,3447,70,...,0.8,521,0.0,0.6,3.8,506,A,1,Y,NaN
3,AQ,Albuquerque,1,Downtown/Southwest,Apt,ABC,2003,5,3447,0,...,0.6,513,-1.5,0.0,-0.1,508,A,1,Y,NaN
4,AQ,Albuquerque,1,Downtown/Southwest,Apt,ABC,2004,5,3510,63,...,2.2,525,2.3,1.1,1.7,519,A,1,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48207,WK,Wichita,5,West Wichita,Apt,ABC,2020,5,5079,0,...,-0.5,731,0.0,0.0,1.2,721,A,1,Y,NaN
48212,WK,Wichita,5,West Wichita,Apt,ABC,2021,5,5079,0,...,12.1,819,12.0,0.0,0.2,810,A,1,Y,NaN
48217,WK,Wichita,5,West Wichita,Apt,ABC,2022,5,5379,300,...,6.4,875,6.8,0.9,6.5,871,A,1,Y,NaN
48222,WK,Wichita,5,West Wichita,Apt,ABC,2023,5,5379,0,...,0.0,878,0.4,0.0,0.7,877,A,1,Y,NaN
48227,WK,Wichita,5,West Wichita,Apt,ABC,2024,5,5751,372,...,12.9,995,13.2,1.3,5.1,975,A,1,Y,NaN

In [84]:
lta_vac = sub_df1.groupby(by=['Metro', 'Subname'], group_keys=True)['VacPercent'].mean().reset_index()
lta_vac['VacPercent'] = round(lta_vac['VacPercent']/100, 5)
lta_vac.rename(columns={'VacPercent': 'LTA Vac'}, inplace=True)

lta_vac

           Metro             Subname  LTA Vac
0    Albuquerque  Downtown/Southwest  0.04512
1    Albuquerque       North Central  0.04256
2    Albuquerque           Northeast  0.04040
3    Albuquerque           Northwest  0.05300
4    Albuquerque           Southeast  0.05920
..           ...                 ...      ...
841      Wichita       McConnell AFB  0.06112
842      Wichita       North Wichita  0.06212
843      Wichita       South Wichita  0.07264
844      Wichita       WSU/Northeast  0.05812
845      Wichita        West Wichita  0.05224

[846 rows x 3 columns]

In [85]:
curr_vac = sub_df1[sub_df1['Year'] == 2024]

curr_vac = curr_vac[['Metro', 'Subname', 'VacPercent']]
curr_vac['VacPercent'] = round(curr_vac['VacPercent']/100, 4)
curr_vac

             Metro             Subname  VacPercent
44     Albuquerque  Downtown/Southwest       0.033
94     Albuquerque           Northwest       0.018
144    Albuquerque       North Central       0.031
194    Albuquerque           Northeast       0.029
244    Albuquerque           Southeast       0.047
...            ...                 ...         ...
48027      Wichita       North Wichita       0.032
48077      Wichita       WSU/Northeast       0.045
48127      Wichita       McConnell AFB       0.018
48177      Wichita       South Wichita       0.018
48227      Wichita        West Wichita       0.041

[846 rows x 3 columns]

In [86]:
main_df = lta_vac.merge(curr_vac, on=['Metro', 'Subname'])
main_df

           Metro             Subname  LTA Vac  VacPercent
0    Albuquerque  Downtown/Southwest  0.04512       0.033
1    Albuquerque       North Central  0.04256       0.031
2    Albuquerque           Northeast  0.04040       0.029
3    Albuquerque           Northwest  0.05300       0.018
4    Albuquerque           Southeast  0.05920       0.047
..           ...                 ...      ...         ...
841      Wichita       McConnell AFB  0.06112       0.018
842      Wichita       North Wichita  0.06212       0.032
843      Wichita       South Wichita  0.07264       0.018
844      Wichita       WSU/Northeast  0.05812       0.045
845      Wichita        West Wichita  0.05224       0.041

[846 rows x 4 columns]

In [87]:
# Filter by target markets only

TM_list = ['Boston', 'District of Columbia', 'Denver', 'Fairfield County', 'Los Angeles', 'Long Island', 'Northern New Jersey', 'New York Metro',
            'Oakland-East Bay', 'Orange County', 'Portland', 'San Diego', 'Seattle', 'San Francisco', 'San Jose', 'Suburban Maryland', 'Suburban Virginia',
              'Ventura County', 'Atlanta', 'Austin', 'Central New Jersey', 'Charleston', 'Charlotte', 'Dallas', 'Fort Lauderdale', 'Fort Worth', 'Miami',
                'Orlando', 'Raleigh-Durham', 'San Bernardino/Riverside', 'Tampa-St. Petersburg']


TMs31_df = main_df[main_df['Metro'].isin(TM_list)]
TMs31_df

              Metro                   Subname  LTA Vac  VacPercent
5           Atlanta                  Buckhead  0.06703       0.084
6           Atlanta         Central I-75 West  0.07283       0.101
7           Atlanta           Cherokee County  0.07250       0.055
8           Atlanta  Clarkston/Stone Mountain  0.07106       0.082
9           Atlanta             Clayton/Henry  0.06969       0.080
..              ...                       ...      ...         ...
833  Ventura County                 Camarillo  0.03624       0.042
834  Ventura County                    Oxnard  0.03308       0.032
835  Ventura County          San Buenaventura  0.03596       0.048
836  Ventura County      Simi Valley/Moorpark  0.03276       0.033
837  Ventura County             Thousand Oaks  0.03328       0.027

[390 rows x 4 columns]